.Register__Wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

// .Register__BoxWrapper{
//   // width: 50%;
// }

// Responsive



@media (max-width:720px) {
  .Register__Wrapper{
    height: auto;
  }
  // .Register__BoxWrapper{
  //   width: 400px;
  // }
}